<md-sidenav-layout>

  <md-sidenav mode="side" #sidenav id="app-sidenav">
   <app-side-nav [links]="links"></app-side-nav>
  </md-sidenav>

  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>
    <span class="app-title">{{title}}</span>
    <span class="spacer"></span>
    <app-language-switcher></app-language-switcher>
  </md-toolbar>

  <div id="app-content">
    <router-outlet></router-outlet>
  </div>

</md-sidenav-layout>

<span class="app-action">
  <button md-mini-fab color="primary" (click)="backClicked()"><md-icon>arrow_back</md-icon></button>
  <button md-mini-fab color="primary" (click)="forwardClicked()"><md-icon>arrow_forward</md-icon></button>
</span>

